<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>

    </header>
    <main>
        <section class="formPaciente">
            <form>
                <div>
                    <h2>Registro</h2>
                </div>
                <div class="conteinerPaciente">
                    <div>
                        <div>
                            <h2>Paciente</h2>
                        </div>
                        <div class="regPaciente">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" autofocus>
                        </div>
                        <div class="regPaciente">
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido">
                        </div>
                        <div class="regPaciente">
                            <label for="dni">DNI</label>
                            <input type="text" id="dni">
                        </div>
                        <div class="regPaciente">
                            <label for="fecha">Fecha de ingreso</label>
                            <input  type="date" id="fecha">
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>Domicilio</h2>
                        </div>
                        <div class="regPaciente">
                            <label for="calle">Calle</label>
                            <input type="text" id="calle" autofocus>
                        </div>
                        <div class="regPaciente">
                            <label for="numero">Numero</label>
                            <input type="text" id="numero" autofocus>
                        </div>
                        <div class="regPaciente">
                            <label for="localidad">Localidad</label>
                            <input type="text" id="localidad" autofocus>
                        </div>
                        <div class="regPaciente">
                            <label for="provincia">Provincia</label>
                            <input type="text" id="provincia" autofocus>
                        </div>
                    </div>
                </div>
                <button type="submit">Registrarse 👍</button>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>