*{
    box-sizing: border-box;
    margin: 0;
}

.cuadros{
    margin-top: 20%;
    display: flex;
    justify-content: space-evenly;
}

.cuadros div{
    background-color: antiquewhite;
    width: 200px;
    padding: 5% 1%;
    /* margin: auto; */
    border-radius: 5px;
    text-align: center;
}

.formPaciente{
    margin-top: 5%;
}

.conteinerPaciente{
    display: flex;
    justify-content: space-evenly;
}

.regPaciente{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formPaciente form{
    background-color: #00669F;
    color: #ffffff;
    padding: 15px;
    width: 60%;
    margin: auto;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.formPaciente input{
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.formPaciente label{
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.formPaciente h2{
    margin-bottom: 5%;
}

